<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<!DOCTYPE web-app [ 
		<!ENTITY guava_filter_url_pattern SYSTEM "guava_filter.xml">
	]
>
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LazyJava</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>org.lazyjava.context.listener.ServiceInit</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.lazyjava.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/s/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>org.lazyjava.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/s/postExample</url-pattern>
  </servlet-mapping>
  
</web-app>